<h1>Book Delete</h1>

<%= form_for(@book, method: 'delete') do |f| %>
    <p>Are you sure you want to delete this book?</p>
    <p><%= @book.title %></p>

    <%= f.submit "Delete" %>
    <%= link_to "Back", books_path %>
<% end %>